<p id="notice"><%= notice %></p>

<h1>Capitalizable Groups</h1>

<br /><br />

<input type="button" value="Edit in Batch Mode" onclick="startEdit()" />
<input type="button" value="Save All Rows" onclick="saveRows()" />

<br /><br />

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<script type="text/javascript">

  $(document).ready(function () {
    $("#jqGrid").jqGrid({
      url: "/capitalizable_groups",
      editurl: ' /capitalizable_groups/update',
      datatype: "json",
      colModel: [
        {
          label: "ID#",
          name: "id",
          width: 10
        },
        {
          label: "Capitalizable rate %",
          name: 'capitalizable_rate',
          width: 100,
          editable: true // must set editable to true if you want to make the field editable
        },
        {
          label: "Description",
          name: 'description',
          width: 30,
          editable: true
        }
      ],
      sortname: 'ID#',
      loadonce : true,
      viewrecords: true,
      onSelectRow: editRow, // the javascript function to call on row click. will ues to to put the row in edit mode
      width: 780,
      height: 200,
      rowNum: 10,
      pager: "#jqGridPager",
      gridview: true
    });


    var lastSelection;

    function editRow(id) {
      if (id && id !== lastSelection) {
        var grid = $("#jqGrid");
        grid.jqGrid('restoreRow', lastSelection);
        grid.jqGrid('editRow',id, {keys: true} );
        lastSelection = id;
      }
    }
  });


  function startEdit() {
    var grid = $("#jqGrid");
    var ids = grid.jqGrid('getDataIDs');

    for (var i = 0; i < ids.length; i++) {
      grid.jqGrid('editRow',ids[i]);
    }
  };
  function saveRows() {
    var grid = $("#jqGrid");
    var ids = grid.jqGrid('getDataIDs');

    for (var i = 0; i < ids.length; i++) {
      grid.jqGrid('saveRow', ids[i]);
    }
  }

</script>

<table>
  <thead>
    <tr>
      <th>Capitalizable rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capitalizable_groups.each do |capitalizable_group| %>
      <tr>
        <td><%= capitalizable_group.capitalizable_rate %></td>
        <td><%= capitalizable_group.description %></td>
        <td><%= link_to 'Show', capitalizable_group %></td>
        <td><%= link_to 'Edit', edit_capitalizable_group_path(capitalizable_group) %></td>
        <td><%= link_to 'Destroy', capitalizable_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capitalizable Group', new_capitalizable_group_path %>
