<p id="notice"><%= notice %></p>

<h1>Employment Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Attendance rate</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employment_types.each do |employment_type| %>
      <tr>
        <td><%= employment_type.name %></td>
        <td><%= employment_type.attendance_rate %></td>
        <td><%= employment_type.description %></td>
        <td><%= link_to 'Show', employment_type %></td>
        <td><%= link_to 'Edit', edit_employment_type_path(employment_type) %></td>
        <td><%= link_to 'Destroy', employment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employment Type', new_employment_type_path %>
