<p id="notice"><%= notice %></p>

<h1>Capitalization Results</h1>

<table>
  <thead>
    <tr>
      <th>Project name</th>
      <th>Employee name</th>
      <th>Date</th>
      <th>Hours</th>
      <th>Full project name</th>
      <th>Hourly rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @capitalization_results.each do |capitalization_result| %>
      <tr>
        <td><%= capitalization_result.project_name %></td>
        <td><%= capitalization_result.employee_name %></td>
        <td><%= capitalization_result.date %></td>
        <td><%= capitalization_result.hours %></td>
        <td><%= capitalization_result.full_project_name %></td>
        <td><%= capitalization_result.hourly_rate %></td>
        <td><%= link_to 'Show', capitalization_result %></td>
        <td><%= link_to 'Edit', edit_capitalization_result_path(capitalization_result) %></td>
        <td><%= link_to 'Destroy', capitalization_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Capitalization Result', new_capitalization_result_path %>
