<div class="container bs-docs-container">
  <div class="bs-docs-section">
    <div class="bs-callout bs-callout-warning">
      <div class="row">
        <div class="col-sm-12">

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label>
            Load data from csv to current Iteration
          </label>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">

            <!-- <a href="/cap_hour_calculation.csv?iteration_id="> -->
            <%= form_tag home_load_project_csv_path, :multipart => true do %>
                <%= file_field_tag :file, :accept => "text/csv" %>
                <%= submit_tag "Upload" %>
            <% end %>


          </div>
        </div>
        <div class="col-sm-4">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <!-- <a href="/cap_hour_calculation.csv?iteration_id="> -->
            <%= form_tag home_load_employee_csv_path, :multipart => true do %>
                <%= file_field_tag :file, :accept => "text/csv" %>
                <%= submit_tag "Upload" %>
            <% end %>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="bs-docs-section">
    <div class="bs-callout bs-callout-warning">
      <div class="row">
        <div class="col-sm-8">
          <label>
            Save Historical data to Database:
          </label>
        </div>
        <div class="col-sm-4">
          <a data-method= 'post' href="/home/save_data">
            <!-- <a href="/cap_hour_calculation.csv?iteration_id="> -->
            <button type="button" class="btn btn-success">
              Save to database
            </button>
          </a>

        </div>
        <!--<div class="col-sm-4">
          <label>Click button to proceed </label>
          <button type="button" class="btn btn-success">
            Proceed
          </button>
        </div>-->
      </div>
    </div>
  </div>
</div>

<script>

  $(document).ready(function() {
    $('.from-id li > a').click(function(e){
      var iteration_str = this.innerHTML;
      var str_arr = iteration_str.split(' |  ');
      $('#from-iter-label').text(str_arr[1]);
      $('.from-btn').text(str_arr[0])
    });

    $('.to-id li > a').click(function(e){
      var iteration_str = this.innerHTML;
      var str_arr = iteration_str.split(' |  ');
      $('#to-iter-label').text(str_arr[1]);
      $('.to-btn').text(str_arr[0])
    });

    $('.copy-btn').click(function(){
      var url = "/home/copy_iteration_data";
      var from_id = $('.from-btn').text();
      var to_id = $('.to-btn').text();
      alert($('.from-btn').text());
      $.post(url,
          {
            from_id: from_id,
            to_id: to_id
          },
          function(){
            alert("Copy successfully");
          });
    });
  });

</script>