<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Is capitalizable:</strong>
  <%= @project.is_capitalizable %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @project.weight %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @project.release_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Team:</strong>
  <%= @project.team_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
