<%= form_for(iteration) do |f| %>
  <% if iteration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iteration.errors.count, "error") %> prohibited this iteration from being saved:</h2>

      <ul>
      <% iteration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :work_day %>
    <%= f.number_field :work_day %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
